<div class="p-fluid grid" [style]="{'width': '100%','high': '100%'}">
        <div class="field col-12 md:col-12">
            <p-menubar [model]="items1">
                <div>
                    <!-- <input type="text" pInputText placeholder="Search" style="margin-left:.25em"> -->
                    <button type="button" pButton label="Logout" icon="pi pi-power-off" (click)="logout()" style="margin-left:.25em"></button>
                </div>
            </p-menubar>
        </div>

        <!-- <div class="field col-12 md:col-2">
            <p-megaMenu [model]="items2" orientation="vertical"></p-megaMenu>
        </div> -->
        <div class="field col-12 md:col-12">
                <router-outlet></router-outlet>
        </div>
            
</div>